.heading {
	text-align: center;
	background: linear-gradient(to right, rgb(148, 0, 247), rgb(100, 0, 249));
	color: aliceblue;
	font-size: 3vh;
	font-family: "Rubik Doodle Shadow", system-ui;
	font-weight: 500;
	font-style: normal;
	margin-top:20px;
	margin: 4%;
	padding: 1%;
  }

  .heading p{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.team_years{
    text-align: center;
    background: linear-gradient(to right, rgb(148, 0, 247),rgb(100, 0, 249));
    color: aliceblue;
    font-size: 3vh;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
	width: 30%;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-right:auto;
	margin-left:auto ;
	margin-bottom:15px;
	margin-top: 20px;
	border-radius: 5%;
    padding: 1%;
  }

  .facad_head{
	text-align: center;
    background: linear-gradient(to right, rgb(148, 0, 247),rgb(100, 0, 249));
    color: aliceblue;
    font-size: 3vh;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
	width: 30%;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-right:auto;
	margin-left:auto ;
	margin-bottom:15px;
	margin-top: 20px;
	border-radius: 5%;
    padding: 1%;
  }

.team_mail{
	width: 5px;
	height: 5px;
}

  .image-area {
	padding-right: 3rem;
	padding-left:3rem ;
	display: flex; 
	justify-content: center;
	gap:1rem;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
  }
  
  .facad_image{
	padding-right: 3rem;
	padding-left:3rem ;
	display: flex; 
	justify-content: center;
	gap:1rem;
	flex-wrap: wrap;
	flex-direction: row;
  }

  .img-wrapper {
	width: 150px;
	height: 200px;
	position: relative;
	overflow: hidden;
  }

  
  .img-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: 1;
	transform: skew(45deg);
	transition: 0.5s;
  }
  
  .img-wrapper:hover:before {
	left: -180%;
  }
  
  .img-wrapper img {
	height: 135px; 
	width: 150px;
	filter: grayscale(100%);
	transition: 2s;
  }
  
  .img-wrapper:hover img {
	filter: grayscale(0%);
	transform: scale(1.1);
  }
  
  .img-wrapper h2 {
	background: tomato;
	font-family: Poppins;
	font-size: 0.85em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
  }
  
  .img-wrapper:hover h2 {
	transform: perspective(400px) rotateY(0deg);
  }
  
  .img-wrapper ul {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li {
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: 0.5s;
	transform-origin: left;
  }
  
  .img-wrapper:hover ul li {
	transform: perspective(800px) rotateY(0deg);
  }
  
  .img-wrapper:hover ul li:nth-child(1) {
	transition-delay: 0.2s;
  }
  
  .img-wrapper:hover ul li:nth-child(2) {
	transition-delay: 0.6s;
  }
  
  .img-wrapper:hover ul li:nth-child(3) {
	transition-delay: 0.8s;
  }
  
  .img-wrapper:hover ul li:nth-child(4) {
	transition-delay: 1s;
  }
  
  .img-wrapper ul li a {
	color: tomato;
	background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li i {
	color: tomato;
	background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li i:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0);
  }

  .facad_wrapper{
	width: 200px;
	height: 250px;
	position: relative;
	overflow: hidden;
  }

  .facad_wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: 1;
	transform: skew(45deg);
	transition: 0.5s;
  }
  
  .facad_wrapper:hover:before {
	left: -180%;
  }
  
  .facad_wrapper img {
	height: 185px; 
	width: 190px;
	filter: grayscale(100%);
	transition: 2s;
  }
  
  .facad_wrapper:hover img {
	filter: grayscale(0%);
	transform: scale(1.1);
  }
  
  .facad_wrapper h2 {
	background: tomato;
	font-family: Poppins;
	font-size: 1em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
  }

  .facad_wrapper:hover h2 {
	transform: perspective(400px) rotateY(0deg);
  }
  
  .facad_wrapper ul {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255, 255, 255, 0);
  }
  
  .facad_wrapper ul li {
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: 0.5s;
	transform-origin: left;
  }
  
  .facad_wrapper:hover ul li {
	transform: perspective(800px) rotateY(0deg);
  }
  
  .facad_wrapper:hover ul li:nth-child(1) {
	transition-delay: 0.2s;
  }
  
  .facad_wrapper:hover ul li:nth-child(2) {
	transition-delay: 0.6s;
  }
  
  .facad_wrapper:hover ul li:nth-child(3) {
	transition-delay: 0.8s;
  }
  
  .facad_wrapper:hover ul li:nth-child(4) {
	transition-delay: 1s;
  }
  
  .facad_wrapper ul li a {
	color: tomato;
	background: rgba(255, 255, 255, 0);
  }
  
  .facad_wrapper ul li i {
	color: tomato;
	background: rgba(255, 255, 255, 0);
  }
  
  .facad_wrapper ul li i:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0);
  }

  @media (max-width:468px){
	.main_card{
		margin-top: 50px;
	}
	.heading p{
		font-size: 4vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
  }